

.icon-terminate{
	background:url('icons/TerminatedEmployees.gif') no-repeat center center;
}
.icon-retired{
	background:url('icons/RetiredEmployees.gif') no-repeat center center;
}
.icon-resigned{
	background:url('icons/ResignedEmployee.gif') no-repeat center center;
}
.icon-ondeputation{
	background:url('icons/Deputed_Outside_GOO.gif') no-repeat center center;
}
.icon-ontransit{
	background:url('icons/On_Transit.gif') no-repeat center center;
}
.icon-suspension{
	background:url('icons/Under_Suspension.gif') no-repeat center center;
}
.icon-lttrain{
	background:url('icons/Long_Term_Training.gif') no-repeat center center;
}
.icon-watingforpost{
	background:url('icons/Waiting_For_Posting.gif') no-repeat center center;
}
.icon-onltLeave{
	background:url('icons/Long_Term_Leave.gif') no-repeat center center;
}
.icon-onDuty{
	background:url('icons/On_Duty_Post.gif') no-repeat center center;
}
.icon-pdf{
	background:url('icons/pdf_icon.gif') no-repeat center center;
}
.icon-link{
	background:url('icons/link.png') no-repeat center center;
}

.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-addPrivilege
{
	background:url('icons/icon_addPrivilege.png') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-config{
	background:url('icons/icon-config.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}

.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-par{
	background:url('icons/par.gif') no-repeat center center;
}
.icon-leave{
	background:url('icons/eLeave.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-office{
	background:url('icons/office.png') no-repeat center center;
}
.icon-department{
	background:url('icons/department.png') no-repeat center center;
}
.icon-cadre{
	background:url('icons/cadre.gif') no-repeat center center;
}
.icon-district{
	background:url('icons/district.ico') no-repeat center center;
}
.icon-hod{
	background:url('icons/hod.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-dp{
	background:url('icons/dp.png') no-repeat center center;
}
